<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PWA Praxisbuch Demo Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container">
        <span class="navbar-brand text-white">PWA Praxisbuch Demo Server</span>
    </div>
</nav>
<main class="container">
    <div class="alert alert-warning" role="alert">
        This server is not ready for production. Do not use it for productive scenarios.
    </div>

    <h2>Todo Store</h2>
    <p>{{ todos.length }} to-dos stored</p>

    <h2>VAPID Public Key</h2>
    <pre>{{ publicKey }}</pre>

    <h2>Connected Browsers</h2>
    {{#unless subscriptions.length}}
        (none)
    {{/unless}}
    <ul>
        {{#each subscriptions}}
            <li>{{ userAgent }}</li>
        {{/each}}
    </ul>

    <hr>
    Version {{ version }}
</main>
</body>
</html>